@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

html {
  font-size: 4px;
}

h1 {
  font-size: 10rem;
}

h2 {
  font-size: 6rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 4.5rem;
}

h6 {
  font-size: 3rem;
}

p, a {
  font-size: 3.5rem;
}

#wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  width: 1170px;
  height: 100%;
  margin: 0 auto;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main {
  height: 600px;
  margin-bottom: 100px;
}
.main .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  flex-wrap: wrap;
}
.main .container .category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  width: 12%;
}
.main .container .category .active {
  background-color: #1E9EFF;
  padding: 5px 10px;
  border-radius: 20px;
}
.main .container .category .active a {
  color: white;
}
.main .container .category a {
  font-size: 4rem;
}
.main .container .category li:first-child a {
  font-weight: 700;
}
.main .container .slideWrap {
  width: 100%;
  height: 430px;
  background-color: aqua;
  position: relative;
}
.main .container .slideWrap .btn .prev {
  width: 50px;
  height: 50px;
  background-color: #eee;
  border: none;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
  transform: rotate(-180deg);
  transform-origin: center;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%) rotate(180deg);
}
.main .container .slideWrap .btn .prev i {
  color: #1E9EFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
}
.main .container .slideWrap .btn .prev:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  z-index: -1;
  background-color: rgba(30, 158, 255, 0.5);
  color: white;
  border-radius: 50%;
}
.main .container .slideWrap .btn .prev:hover i {
  color: #666;
}
.main .container .slideWrap .btn .prev:active:after {
  left: 0;
  width: 100%;
}
.main .container .slideWrap .btn .prev:active i {
  color: #fff;
}
.main .container .slideWrap .btn .next {
  width: 50px;
  height: 50px;
  background-color: #eee;
  border: none;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}
.main .container .slideWrap .btn .next i {
  color: #1E9EFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
}
.main .container .slideWrap .btn .next:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  z-index: -1;
  background-color: rgba(30, 158, 255, 0.5);
  color: white;
  border-radius: 50%;
}
.main .container .slideWrap .btn .next:hover i {
  color: #666;
}
.main .container .slideWrap .btn .next:active:after {
  left: 0;
  width: 100%;
}
.main .container .slideWrap .btn .next:active i {
  color: #fff;
}
.main .container .subNav {
  width: 100%;
  height: 100px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.main .container .subNav li {
  width: 90px;
}
.main .container .subNav li .box {
  width: 70px;
  height: 70px;
  background-color: #eee;
  border-radius: 50%;
  position: relative;
}
.main .container .subNav li .box i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
}
.main .container .subNav li .box p, .main .container .subNav li .box .adult {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.8rem;
  font-weight: bold;
}
.main .container .subNav li .box .adult {
  border: 2px solid red;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  line-height: 24px;
  text-align: center;
  background-color: white;
}
.main .container .subNav li a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  height: 100%;
}

.title {
  margin-bottom: 15px;
}

.recommend {
  height: auto;
  margin-bottom: 100px;
}
.recommend .bookbox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  text-align: center;
  height: 80%;
  align-items: flex-start;
}
.recommend .bookbox .book {
  width: 17%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  flex-wrap: wrap;
  justify-content: center;
}
.recommend .bookbox .book .bookCover {
  width: 100%;
  height: 285px;
  background-color: gray;
  border-radius: 8px;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.4);
  margin-bottom: 15px;
  position: relative;
}
.recommend .bookbox .book .bookCover img {
  border-radius: 8px;
}
.recommend .bookbox .book .bookCover .light {
  background: rgba(255, 255, 255, 0.4);
  position: absolute;
  left: 4px;
  top: 3px;
  border-radius: 2px;
  height: 97.5%;
  width: 2px;
}
.recommend .bookbox .book .bookName {
  background-color: white;
}

.mdPick {
  height: auto;
  margin-bottom: 100px;
}
.mdPick .bookbox {
  width: 100%;
  height: 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}
.mdPick .bookbox .book {
  width: 32%;
  height: 100%;
}
.mdPick .bookbox .book:nth-of-type(1) .bg {
  background-color: #423027;
}
.mdPick .bookbox .book:nth-of-type(2) .bg {
  background-color: #02331D;
}
.mdPick .bookbox .book:nth-of-type(3) .bg {
  background-color: #27493A;
}
.mdPick .bookbox .book .bookImg {
  height: 70%;
  position: relative;
}
.mdPick .bookbox .book .bookImg .bg {
  height: 60%;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-radius: 10px;
}
.mdPick .bookbox .book .bookImg .bookCover {
  width: 110px;
  height: 100%;
  background-color: gray;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 8px;
}
.mdPick .bookbox .book .bookNamebox {
  text-align: center;
}

.best {
  height: 440px;
  margin-bottom: 100px;
}
.best .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  width: 100%;
}
.best button {
  font-size: 4rem;
  background: none;
  border: none;
  text-align: right;
  display: inline;
  font-weight: 700;
  cursor: pointer;
}
.best button:active {
  text-decoration: underline;
}
.best .bookbox {
  width: 100%;
  height: 390px;
  position: relative;
}
.best .bookbox .bookcontainer {
  width: 201.6%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}
.best .bookbox .bookcontainer .bestlist {
  width: 16%;
  height: 100%;
}
.best .bookbox .bookcontainer .bestlist ol {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  flex-wrap: wrap;
}
.best .bookbox .bookcontainer .bestlist ol .book {
  width: 100%;
  height: 32%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}
.best .bookbox .bookcontainer .bestlist ol .book .bookCover {
  width: 25%;
  height: 100%;
  background-color: lightblue;
  border-radius: 8px;
}
.best .bookbox .bookcontainer .bestlist ol .book .bookNamebox {
  width: 60%;
}
.best .bookbox .btn .prev {
  width: 50px;
  height: 50px;
  background-color: #eee;
  border: none;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
  transform: rotate(-180deg);
  transform-origin: center;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%) rotate(180deg);
}
.best .bookbox .btn .prev i {
  color: #1E9EFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
}
.best .bookbox .btn .prev:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  z-index: -1;
  background-color: rgba(30, 158, 255, 0.5);
  color: white;
  border-radius: 50%;
}
.best .bookbox .btn .prev:hover i {
  color: #666;
}
.best .bookbox .btn .prev:active:after {
  left: 0;
  width: 100%;
}
.best .bookbox .btn .prev:active i {
  color: #fff;
}
.best .bookbox .btn .next {
  width: 50px;
  height: 50px;
  background-color: #eee;
  border: none;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}
.best .bookbox .btn .next i {
  color: #1E9EFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
}
.best .bookbox .btn .next:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  z-index: -1;
  background-color: rgba(30, 158, 255, 0.5);
  color: white;
  border-radius: 50%;
}
.best .bookbox .btn .next:hover i {
  color: #666;
}
.best .bookbox .btn .next:active:after {
  left: 0;
  width: 100%;
}
.best .bookbox .btn .next:active i {
  color: #fff;
}

.new {
  width: 100%;
  background-color: #D2ECFF;
  margin-bottom: 100px;
}
.new .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  width: 100%;
}
.new button {
  font-size: 4rem;
  background: none;
  border: none;
  text-align: right;
  display: inline;
  font-weight: 700;
  cursor: pointer;
}
.new button:active {
  text-decoration: underline;
}
.new .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  flex-wrap: wrap;
}
.new .container .title {
  margin-top: 20px;
}
.new .container .bookcontainer {
  width: 100%;
  height: 400px;
  margin: 15px 0 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  position: relative;
}
.new .container .bookcontainer .boxL {
  width: 50%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}
.new .container .bookcontainer .boxL .bookbox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}
.new .container .bookcontainer .boxL .bookCover {
  width: 230px;
  background-color: gray;
  height: 100%;
  border-radius: 8px;
}
.new .container .bookcontainer .boxL .bookintro {
  width: 50%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  flex-wrap: wrap;
}
.new .container .bookcontainer .boxL .bookintro .bookAuthor {
  width: 100%;
  font-weight: 700;
}
.new .container .bookcontainer .boxR {
  width: 40%;
  height: 60%;
}
.new .container .bookcontainer .boxR .bookWrap {
  width: 204%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}
.new .container .bookcontainer .boxR .bookWrap .bookbox {
  width: 15%;
  height: 100%;
  text-align: center;
}
.new .container .bookcontainer .boxR .bookWrap .bookbox .bookCover {
  width: 100%;
  height: 85%;
  background-color: gray;
  border-radius: 8px;
}
.new .container .bookcontainer .boxR .bookWrap .bookbox .bookName {
  font-weight: 500;
  margin-top: 10px;
}
.new .container .bookcontainer .btn {
  position: absolute;
  width: 100%;
  height: 100%;
}
.new .container .bookcontainer .btn .prev {
  width: 50px;
  height: 50px;
  background-color: #eee;
  border: none;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
  transform: rotate(-180deg);
  transform-origin: center;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%) rotate(180deg);
}
.new .container .bookcontainer .btn .prev i {
  color: #1E9EFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
}
.new .container .bookcontainer .btn .prev:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  z-index: -1;
  background-color: rgba(30, 158, 255, 0.5);
  color: white;
  border-radius: 50%;
}
.new .container .bookcontainer .btn .prev:hover i {
  color: #666;
}
.new .container .bookcontainer .btn .prev:active:after {
  left: 0;
  width: 100%;
}
.new .container .bookcontainer .btn .prev:active i {
  color: #fff;
}
.new .container .bookcontainer .btn .next {
  width: 50px;
  height: 50px;
  background-color: #eee;
  border: none;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}
.new .container .bookcontainer .btn .next i {
  color: #1E9EFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
}
.new .container .bookcontainer .btn .next:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  z-index: -1;
  background-color: rgba(30, 158, 255, 0.5);
  color: white;
  border-radius: 50%;
}
.new .container .bookcontainer .btn .next:hover i {
  color: #666;
}
.new .container .bookcontainer .btn .next:active:after {
  left: 0;
  width: 100%;
}
.new .container .bookcontainer .btn .next:active i {
  color: #fff;
}

.academy {
  margin-bottom: 100px;
  height: auto;
  position: relative;
}
.academy .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  width: 100%;
}
.academy button {
  font-size: 4rem;
  background: none;
  border: none;
  text-align: right;
  display: inline;
  font-weight: 700;
  cursor: pointer;
}
.academy button:active {
  text-decoration: underline;
}
.academy .academybook {
  width: 100%;
}
.academy .academybook .bookbox {
  width: 202.2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  text-align: center;
  align-items: flex-start;
}
.academy .academybook .bookbox .page ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}
.academy .academybook .bookbox .book {
  width: 9%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  flex-wrap: wrap;
  justify-content: center;
}
.academy .academybook .bookbox .book .bookCover {
  width: 100%;
  height: 275px;
  background-color: gray;
  border-radius: 8px;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.4);
  margin-bottom: 15px;
  position: relative;
}
.academy .academybook .bookbox .book .bookCover img {
  border-radius: 8px;
}
.academy .academybook .bookbox .book .bookCover .light {
  background: rgba(255, 255, 255, 0.4);
  position: absolute;
  left: 4px;
  top: 3px;
  border-radius: 2px;
  height: 97.5%;
  width: 2px;
}
.academy .academybook .bookbox .book .bookName p {
  font-weight: 500;
}
.academy .btn .prev {
  width: 50px;
  height: 50px;
  background-color: #eee;
  border: none;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
  transform: rotate(-180deg);
  transform-origin: center;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%) rotate(180deg);
}
.academy .btn .prev i {
  color: #1E9EFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
}
.academy .btn .prev:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  z-index: -1;
  background-color: rgba(30, 158, 255, 0.5);
  color: white;
  border-radius: 50%;
}
.academy .btn .prev:hover i {
  color: #666;
}
.academy .btn .prev:active:after {
  left: 0;
  width: 100%;
}
.academy .btn .prev:active i {
  color: #fff;
}
.academy .btn .next {
  width: 50px;
  height: 50px;
  background-color: #eee;
  border: none;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}
.academy .btn .next i {
  color: #1E9EFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
}
.academy .btn .next:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  z-index: -1;
  background-color: rgba(30, 158, 255, 0.5);
  color: white;
  border-radius: 50%;
}
.academy .btn .next:hover i {
  color: #666;
}
.academy .btn .next:active:after {
  left: 0;
  width: 100%;
}
.academy .btn .next:active i {
  color: #fff;
}

.event {
  height: auto;
  margin-bottom: 100px;
}
.event .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  width: 100%;
}
.event button {
  font-size: 4rem;
  background: none;
  border: none;
  text-align: right;
  display: inline;
  font-weight: 700;
  cursor: pointer;
}
.event button:active {
  text-decoration: underline;
}
.event .eventwrap {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}
.event .eventwrap .eventB {
  width: 33%;
  height: 100%;
  background-color: lightblue;
  border-radius: 8px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  padding: 20px;
  position: relative;
}
.event .eventwrap .eventB:nth-of-type(1) {
  background-image: url("../img/main/event1.png");
  background-color: #05793A;
}
.event .eventwrap .eventB:nth-of-type(2) {
  background-image: url("../img/main/event2.png");
  background-color: #500AB6;
}
.event .eventwrap .eventB:nth-of-type(3) {
  background-image: url("../img/main/event3.png");
  background-color: #764448;
}
.event .eventwrap .eventB .text {
  width: 100%;
  color: #fff;
  font-weight: 700;
}
.event .eventwrap .eventB .text span {
  font-size: 2rem;
}
.event .eventwrap .eventB::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #eee;
  opacity: 0.1;
}

.hit {
  height: 280px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  margin-bottom: 100px;
}
.hit .boxL {
  width: 25%;
}
.hit .boxL h6 {
  font-weight: normal;
}
.hit .boxL span {
  font-size: 3.5rem;
  font-weight: 700;
}
.hit .boxL .btn {
  margin-top: 30px;
  width: 27%;
  display: flex;
  position: relative;
}
.hit .boxL .btn .prev {
  width: 50px;
  height: 50px;
  background-color: #eee;
  border: none;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
  transform: rotate(-180deg);
  transform-origin: center;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  position: absolute;
  left: 0;
}
.hit .boxL .btn .prev i {
  color: #1E9EFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
}
.hit .boxL .btn .prev:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  z-index: -1;
  background-color: rgba(30, 158, 255, 0.5);
  color: white;
  border-radius: 50%;
}
.hit .boxL .btn .prev:hover i {
  color: #666;
}
.hit .boxL .btn .prev:active:after {
  left: 0;
  width: 100%;
}
.hit .boxL .btn .prev:active i {
  color: #fff;
}
.hit .boxL .btn .prev i {
  font-size: 3.5rem;
}
.hit .boxL .btn .next {
  width: 50px;
  height: 50px;
  background-color: #eee;
  border: none;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: absolute;
}
.hit .boxL .btn .next i {
  color: #1E9EFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
}
.hit .boxL .btn .next:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  z-index: -1;
  background-color: rgba(30, 158, 255, 0.5);
  color: white;
  border-radius: 50%;
}
.hit .boxL .btn .next:hover i {
  color: #666;
}
.hit .boxL .btn .next:active:after {
  left: 0;
  width: 100%;
}
.hit .boxL .btn .next:active i {
  color: #fff;
}
.hit .boxL .btn .next i {
  font-size: 3.5rem;
}
.hit .swiper {
  width: 100%;
  height: 100%;
}
.hit .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hit .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hit .boxR {
  width: 75%;
}
.hit .boxR .bookbox {
  height: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  width: 200%;
}
.hit .boxR .bookbox li {
  width: 280px;
  height: 100%;
  background-color: gray;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.hit .boxR .bookbox li .textbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 5;
  color: white;
  opacity: 0;
  width: 100%;
}
.hit .boxR .bookbox li .textbox span {
  color: #1E9EFF;
}
.hit .boxR .bookbox li:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.8);
  border-radius: 50%;
}
.hit .boxR .bookbox li:hover .textbox {
  opacity: 1;
}
.hit .boxR .bookbox li:nth-of-type(1) {
  background-image: url(../img/main/hit1.jpg);
}
.hit .boxR .bookbox li:nth-of-type(2) {
  background-image: url(../img/main/hit2.jpg);
}
.hit .boxR .bookbox li:nth-of-type(3) {
  background-image: url(../img/main/hit3.jpg);
}
.hit .boxR .bookbox li:nth-of-type(4) {
  background-image: url(../img/main/hit4.jpg);
}
.hit .boxR .bookbox li:nth-of-type(5) {
  background-image: url(../img/main/hit5.jpg);
}
.hit .boxR .bookbox li:nth-of-type(6) {
  background-image: url(../img/main/hit6.jpg);
}