@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

html {
  font-size: 4px;
}

h1 {
  font-size: 10rem;
}

h2 {
  font-size: 6rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 4.5rem;
}

h6 {
  font-size: 3rem;
}

p, a {
  font-size: 3.5rem;
}

.container {
  width: 1170px;
  height: 100%;
  margin: 0 auto;
}

th,
td {
  font-size: 3rem;
}

header {
  height: auto;
  margin-bottom: 0;
}
header .headerBottom .container {
  border: none;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
  color: #666;
}

.subcontainer {
  width: 1170px;
  height: 100%;
  margin: 0 auto;
  display: flex;
}

#contents {
  width: 930px;
  height: auto;
  border-right: 1px solid #eee;
  padding: 0 30px 0 0;
}
#contents .intro {
  height: 620px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
#contents .intro #bookCover {
  width: 40%;
  height: 440px;
  perspective: 1000px;
  transform-style: preserve-3d;
  cursor: pointer;
}
#contents .intro #bookCover .turn_img {
  width: 80%;
  height: 90%;
  position: relative;
  transition: 0.5s;
  transform-style: preserve-3d;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  margin: 20px 0 0 30px;
  cursor: url(/img/sub/mousecursor.png), pointer !important;
}
#contents .intro #bookCover .turn_img:hover {
  transform: rotateY(35deg);
}
#contents .intro #bookCover .turn_img.rotate {
  transform: rotateY(180deg);
}
#contents .intro #bookCover .turn_img img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#contents .intro #bookCover .turn_img::before {
  content: "";
  width: 30px;
  height: 100%;
  position: absolute;
  background-image: url(../img/sub/cover_s_fix.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform-origin: left;
  transform: rotateY(90deg);
  left: 1px;
}
#contents .intro #bookCover .turn_img::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  transform-origin: center;
  transform: rotateY(180deg) translateZ(30px);
  background-image: url(../img/sub/cover_b.jpg);
  width: 100%;
  height: 100%;
  left: 2px;
}
#contents .intro #bookOrder {
  width: 55%;
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#contents .intro #bookOrder h6 {
  font-weight: normal;
}
#contents .intro #bookOrder .title {
  color: #333;
}
#contents .intro #bookOrder .review {
  display: flex;
  align-items: center;
}
#contents .intro #bookOrder .review .starbox {
  background-image: url(../img/sub/star_bg.svg);
  width: 70px;
  height: 14px;
  display: inline-block;
  background-repeat: no-repeat;
  margin-right: 5px;
  position: relative;
}
#contents .intro #bookOrder .review .starbox .star {
  width: 88%;
  height: 100%;
  position: relative;
  display: block;
  overflow-x: hidden;
}
#contents .intro #bookOrder .review .starbox .star::after {
  background-image: url(../img/sub/star.svg);
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  width: 70px;
  height: 14px;
  background-size: 100% 100%;
  content: "";
  display: block;
}
#contents .intro #bookOrder .review p {
  display: inline;
}
#contents .intro #bookOrder .review p > span {
  color: #FA722E;
  font-weight: bold;
}
#contents .intro #bookOrder h6 > a:hover {
  color: #1E9EFF;
}
#contents .intro #bookOrder p > a {
  font-size: 3rem;
}
#contents .intro #bookOrder p > a:hover {
  color: #1E9EFF;
}
#contents .intro #bookOrder p {
  font-size: 3rem;
}
#contents .intro #bookOrder .select {
  font-size: 3rem;
  font-weight: bold;
  padding: 7px 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
#contents .intro #bookOrder .select:hover p {
  color: #1E9EFF;
}
#contents .intro #bookOrder .select span {
  background-color: #22b8cf;
  color: white;
  padding: 0 2px;
  border-radius: 2px;
  font-size: 2rem;
}
#contents .intro #bookOrder .gray {
  color: #ddd;
  cursor: pointer;
}
#contents .intro #bookOrder table {
  width: 100%;
  border-collapse: collapse;
  color: #666;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
#contents .intro #bookOrder tr {
  width: 100%;
}
#contents .intro #bookOrder th {
  width: 35%;
  border-right: 1px solid #eee;
  background-color: #f7fafc;
  padding: 5px 7px;
}
#contents .intro #bookOrder .priceT {
  width: 30%;
  padding: 5px 7px;
}
#contents .intro #bookOrder .price {
  text-align: right;
  width: 40%;
  padding: 5px 7px;
  font-weight: bold;
}
#contents .intro #bookOrder .price span {
  position: relative;
}
#contents .intro #bookOrder .blue {
  color: #1E9EFF;
}
#contents .intro #bookOrder .price span::after {
  content: "          ";
  background-image: url(../img/sub/arrow.svg);
  background-position: right;
  width: 30px;
  height: 63%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -40%);
  background-repeat: no-repeat;
}
#contents .intro #bookOrder .btn {
  float: right;
  width: 100%;
  text-align: right;
}
#contents .intro #bookOrder .btn button {
  cursor: pointer;
  width: 35px;
  height: 35px;
  margin-left: 5px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: #777;
  transition: 0.3s;
}
#contents .intro #bookOrder .btn button:hover {
  background-color: #eee;
}
#contents .intro #bookOrder .btn button:last-of-type {
  font-size: 2.7rem;
  font-weight: bold;
  width: 80px;
  background-color: #1E9EFF;
  color: white;
}
#contents .intro #bookOrder .btn button:last-of-type:hover {
  background-color: #008bf5;
}
#contents .intro #bookInfo {
  width: 100%;
  height: 150px;
  border: 5px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  align-items: flex-start;
  padding: 20px;
  text-align: left;
}
#contents .intro #bookInfo th {
  color: #333;
}
#contents .intro #bookInfo td {
  color: #666;
}
#contents .intro #bookInfo .boxL {
  width: 50%;
  height: 100%;
}
#contents .intro #bookInfo .boxR {
  width: 50%;
  height: 50%;
}
#contents .intro #bookInfo .boxR svg:nth-of-type(1) {
  transform: translateY(2px);
  width: 15px;
  height: 13px;
}
#contents .intro #bookInfo .boxR .fa-apple {
  font-size: 3.3rem;
}
#contents .intro #bookInfo .boxR svg:nth-of-type(2) {
  transform: translateY(3px);
  width: 15px;
  height: 14px;
}
#contents .intro #bookInfo .boxR svg:nth-of-type(3) {
  transform: translateY(3px);
  width: 15px;
  height: 14px;
}
#contents h4 {
  border-bottom: 2px solid gray;
  padding: 10px 0 10px 0;
  clear: both;
}

.bookText h4 {
  border-bottom: 2px solid gray;
  padding: 0 0 10px 0;
}
.bookText h3 {
  font-weight: 500;
}
.bookText .text {
  position: relative;
  padding-bottom: 30px;
}
.bookText .text p {
  margin: 10px 0;
  overflow: hidden;
}
.bookText .text .folded {
  height: 144px;
}
.bookText .text button {
  float: right;
  font-size: 3.5rem;
  background: none;
  border: none;
  color: #1E9EFF;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}
.bookText .text button.close {
  display: none;
}
.bookText .text button span {
  display: inline-block;
  background-color: #1E9EFF;
  color: white;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bookText .text button span i {
  font-size: 10px;
}

.profile h4:nth-of-type(2) {
  border: none !important;
  color: black;
  margin: 20px 0 10px 0;
}
.profile .alarm {
  background: none;
  border: 1px solid #1E9EFF;
  width: 180px;
  height: 30px;
  color: #1E9EFF;
  border-radius: 5px;
  font-weight: 700;
  box-shadow: 0 1px 1px 0 rgba(31, 140, 230, 0.3);
  cursor: pointer;
}
.profile .alarm:hover {
  background-color: rgba(210, 236, 255, 0.5);
  transition: 0.3s;
}
.profile .alarm span.dot {
  font-size: 15px;
  vertical-align: 15%;
}
.profile .profileupdate {
  text-align: right;
  margin: 50px 0 30px 0;
}
.profile .profileupdate .update {
  font-size: 3rem;
  color: #999;
  margin-right: 10px;
}
.profile .profileupdate .fix {
  width: 150px;
  font-size: 3rem;
  background: none;
  border: 1px solid #ccc;
  height: 20px;
  border-radius: 5px;
  color: #808991;
  font-weight: 700;
  box-shadow: 0 1px 1px 0 rgba(209, 213, 217, 0.3);
  cursor: pointer;
}
.profile .profileupdate .fix:hover {
  background-color: #eee;
  transition: 0.3s;
}
.profile .authorbook {
  border-top: 1px solid #eee;
}
.profile .authorbook h5 {
  font-size: 3.8rem;
  color: black;
  display: inline-block;
  margin: 20px 0;
}
.profile .authorbook ul.sort {
  display: flex;
  float: right;
  margin: 20px 0;
}
.profile .authorbook ul.sort a {
  font-size: 3rem;
}
.profile .authorbook ul.sort .active {
  color: black;
  font-weight: bold;
  font-size: 3rem;
}
.profile .authorbook ul.sort li {
  cursor: pointer;
  font-size: 3rem;
}
.profile .authorbook ul.sort li::before {
  content: "|";
  font-size: 3rem;
  padding: 5px;
}
.profile .authorbook ul.sort li:first-child::before {
  content: "";
}
.profile .authorbook ul.bookbox {
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;
  justify-content: space-evenly;
}
.profile .authorbook ul.bookbox li {
  width: 15%;
  margin: 0 20px;
}
.profile .authorbook ul.bookbox li h3 {
  font-size: 3.8rem;
}
.profile .authorbook ul.bookbox li img {
  width: 100%;
  height: 100%;
}
.profile .authorbook .all {
  width: 130px;
  font-size: 3.2rem;
  background: none;
  border: 1px solid #ccc;
  height: 40px;
  border-radius: 5px;
  color: #808991;
  font-weight: 700;
  box-shadow: 0 1px 1px 0 rgba(209, 213, 217, 0.3);
  cursor: pointer;
  float: right;
}
.profile .authorbook .all:hover {
  background-color: #eee;
  transition: 0.3s;
}

.review .reviewbox {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}
.review .reviewbox .buyergrade {
  width: 20%;
  height: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.review .reviewbox .buyergrade h2 {
  font-size: 7rem;
}
.review .reviewbox .buyergrade p {
  font-size: 3rem;
  color: #94a2b8;
  margin-top: 5px;
}
.review .reviewbox .buyergrade .star {
  background-image: url(../img/sub/star_bg.svg);
  width: 80px;
  background-repeat: no-repeat;
}
.review .reviewbox .buyergrade .star span {
  width: 88%;
  overflow: hidden;
  height: 100%;
  display: block;
}
.review .reviewbox .buyergrade .star span img {
  width: 80px;
}
.review .reviewbox .buyergrade .graph {
  margin-top: 15px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}
.review .reviewbox .buyergrade .graph li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.review .reviewbox .buyergrade .graph li:nth-of-type(1) .block:after {
  width: 64%;
}
.review .reviewbox .buyergrade .graph li:nth-of-type(2) .block:after {
  width: 27%;
}
.review .reviewbox .buyergrade .graph li:nth-of-type(3) .block:after {
  width: 0%;
}
.review .reviewbox .buyergrade .graph li:nth-of-type(4) .block:after {
  width: 9%;
}
.review .reviewbox .buyergrade .graph li:nth-of-type(5) .block:after {
  width: 0%;
}
.review .reviewbox .buyergrade .graph li i {
  font-size: 2.5rem;
  color: #808991;
  margin-right: 3px;
}
.review .reviewbox .buyergrade .graph li span {
  font-size: 3rem;
  color: #808991;
}
.review .reviewbox .buyergrade .graph .block {
  margin-left: 10px;
  width: 80px;
  background-color: #e8edf3;
  height: 8px;
  display: block;
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  position: relative;
}
.review .reviewbox .buyergrade .graph .block::after {
  content: "";
  background: linear-gradient(to bottom, #9daab5, #718392);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.review .reviewbox .reviewwrite {
  width: 80%;
  height: 100%;
  text-align: center;
  position: relative;
}
.review .reviewbox .reviewwrite h4 {
  border: none !important;
  color: #999;
  margin-top: 20px;
}
.review .reviewbox .reviewwrite .starRatebox {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 4.5rem;
  background-color: #008bf5;
  width: 150px;
  height: 35px;
  line-height: 35px;
  border-radius: 5px;
  display: none;
}
.review .reviewbox .reviewwrite .starRatebox p {
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
}
.review .reviewbox .reviewwrite .starRatebox p span {
  position: absolute;
  bottom: -19px;
  left: 50%;
  transform: translateX(-50%);
  color: #008bf5;
  font-size: 5rem;
}
.review .reviewbox .reviewwrite .starRate {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}
.review .reviewbox .reviewwrite .starRate label {
  font-size: 35px;
  color: transparent;
  text-shadow: 0 0 0 #f0f0f0;
  cursor: pointer;
}
.review .reviewbox .reviewwrite .starRate label:hover {
  text-shadow: 0 0 0 #FA722E;
}
.review .reviewbox .reviewwrite .starRate label:hover ~ label {
  text-shadow: 0 0 0 #FA722E;
}
.review .reviewbox .reviewwrite .starRate input[type=radio] {
  display: none;
}
.review .reviewbox .reviewwrite .starRate input[type=radio]:checked ~ label {
  text-shadow: 0 0 0 #FA722E;
}
.review .reviewbox .reviewwrite .textarea textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #ddd;
  box-shadow: 0 1px 1px 0 rgba(209, 213, 217, 0.3);
  padding: 10px;
  font-weight: bold;
}
.review .reviewbox .reviewwrite .textarea .btn {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}
.review .reviewbox .reviewwrite .textarea .btn button:first-child {
  float: left;
  background: none;
  width: 150px;
  height: 30px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 1px 1px 0 rgba(209, 213, 217, 0.3);
  cursor: pointer;
  color: #666;
  font-size: 3rem;
}
.review .reviewbox .reviewwrite .textarea .btn .spoilerWrap {
  width: 64%;
  text-align: right;
}
.review .reviewbox .reviewwrite .textarea .btn .spoilerWrap input[type=checkbox] {
  width: 17px;
  height: 17px;
  vertical-align: sub;
  margin-right: 5px;
  border: 1px solid #eee;
  cursor: pointer;
}
.review .reviewbox .reviewwrite .textarea .btn .spoilerWrap label {
  font-size: 3.5rem;
  margin-right: 10px;
  line-height: 17px;
  cursor: pointer;
}
.review .reviewbox .reviewwrite .textarea .btn button:last-child {
  width: 100px;
  height: 30px;
  background-color: #ccc;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.review .reviewbox .reviewwrite .reviewalert {
  display: none;
  text-align: left;
  background-color: #f2f4f5;
  padding: 20px;
}
.review .reviewbox .reviewwrite .reviewalert p {
  font-size: 3rem;
}
.review .reviewbox .reviewwrite .reviewalert p b {
  color: #333;
}
.review .reviewbox .reviewwrite .reviewalert ol {
  width: 100%;
}
.review .reviewbox .reviewwrite .reviewalert ol li {
  font-size: 3rem;
  margin-left: 15px;
  list-style: decimal;
}
.review .reviewlist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.review .reviewlist .tab_review {
  display: flex;
}
.review .reviewlist .tab_review li {
  font-size: 4rem;
  margin-right: 15px;
  font-weight: bold;
  color: #999;
  line-height: 30px;
}
.review .reviewlist .tab_review li.active {
  color: #333;
  border-bottom: 3px solid black;
}
.review .reviewlist .starsort {
  display: flex;
}
.review .reviewlist .starsort li a:after {
  content: "|";
  margin: 5px;
  font-size: 3rem;
  color: #ccc;
  line-height: 3.5rem;
}
.review .reviewlist .starsort li.active a {
  color: #333;
  font-weight: bold;
}
.review .reviewlist .starsort li:last-child a:after {
  content: "";
}
.review .reviewlist .reviewlist_li {
  width: 100%;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  padding: 50px;
}
.review .reviewlist button {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 3.5rem;
  color: gray;
  font-weight: normal;
  margin: 20px 0;
}
.review .reviewlist .buyerinfo {
  width: 100%;
  background-color: #f3f4f5;
  padding: 30px 20px;
  display: none;
}
.review .reviewlist .buyerinfo p:first-of-type {
  color: black;
}

.recommend ul {
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;
  justify-content: space-evenly;
  height: 600px;
}
.recommend ul li {
  width: 15%;
  margin: 0 20px;
}
.recommend ul li h3 {
  font-size: 3.8rem;
}
.recommend ul li img {
  width: 100%;
  height: 100%;
}

aside {
  width: calc(100% - 930px);
  background-color: pink;
  height: 100px;
}
aside img {
  width: 100%;
}
aside .best {
  padding: 30px;
}
aside .best h3 {
  margin-bottom: 20px;
}
aside .best ol {
  counter-reset: ranking 0;
  display: flex;
  flex-direction: column;
}
aside .best ol li {
  padding: 4px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}
aside .best ol li a {
  line-height: 18px;
  white-space: nowrap;
}
aside .best ol li a span {
  color: #787878;
  font-size: 14px;
  line-height: 17px;
  height: 17px;
  letter-spacing: -0.01em;
  flex: 1 1 auto;
}
aside .best ol li a:before {
  counter-increment: ranking;
  content: counter(ranking) "  ";
  min-width: 29px;
  color: #DC3232;
  font-weight: 700;
  font-style: italic;
  line-height: 18px;
  letter-spacing: -0.01em;
  margin-right: 15px;
}
aside .best ol li:last-child a:before {
  margin-right: 7px;
}