@charset "UTF-8";
@import "reset","mixin","var";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');



#wrap {width: 100%; display: flex; flex-direction: column; justify-content: space-between;}

.container {width: 1170px; height: 100%; margin: 0 auto;}

img {width: 100%; height: 100%; object-fit: cover;}

// section {margin-bottom: 50px;}

.main {
  height: 600px;  @include margin;
  .container {
    @include flex; flex-wrap: wrap;
    .category {
      @include flex; width: 12%;
      
      .active {background-color: $blue; padding:  5px 10px; border-radius: 20px; 
      
        a {color: white;}
      }
 


      a {
        font-size: $fontS_M;
      }

      li:first-child a {font-weight: $fontW_B;}
    }
    .slideWrap {
      width: 100%;
      height: 430px;
      background-color: aqua;
      position: relative;

      .btn {
        @include btn;
      }
    }
    .subNav {
      width: 100%; height: 100px;  margin-top: 20px; display: flex; justify-content: center;
      li {
        width: 90px;
        .box {width: 70px; height: 70px; background-color: $lightgray; border-radius: 50%; position: relative;
        
          i {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); font-size: 5rem;}

          p,.adult {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); font-size: 3.8rem; font-weight: bold;}
        
          .adult {border: 2px solid red; border-radius: 50px; width: 30px; height: 30px; line-height: 24px; text-align: center; background-color: white;}
        }
        a {display: flex; flex-wrap: wrap; justify-content: center; align-content: space-between; height: 100%; }
      }
    }
  }
}

.title {margin-bottom: 15px;}

.recommend {
  height: auto; @include margin;
  // @include flex; flex-wrap: wrap; 
  

  .bookbox {width: 100%; @include flex; text-align: center; height: 80%; align-items: flex-start;
    
    .book {width: 17%; height: 100%; @include flex; flex-wrap: wrap; justify-content: center;
    
    .bookCover {width: 100%; height: 285px; background-color: gray; border-radius: 8px; box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.4); margin-bottom: 15px; position: relative;
    
      img {border-radius: 8px;}

      .light {
        background: rgba(255, 255, 255, 0.4); position: absolute; left: 4px; top: 3px; border-radius: 2px; height: 97.5%; width: 2px;
      }
    }
    .bookName {background-color: white;}

    }
  }
}

.mdPick {
  height: auto; @include margin;
  // @include flex; flex-wrap: wrap; 


  .bookbox {width: 100%; height: 230px;
    @include flex; 
  
    .book {width: 32%; height: 100%;

      &:nth-of-type(1) .bg {background-color: #423027;}
      &:nth-of-type(2) .bg {background-color: #02331D;}
      &:nth-of-type(3) .bg {background-color: #27493A;}


      .bookImg {height: 70%; position: relative;

        .bg {height: 60%; width: 100%; position: absolute; bottom: 0; border-radius: 10px;}



        .bookCover {width: 110px; height: 100%; background-color: gray; position: absolute; left: 50%; transform: translateX(-50%); border-radius: 8px;
        
        
        }
      }

      .bookNamebox {
        text-align: center;
      }
    }
  }
  
}

.best {
  height: 440px; @include margin;
  @include btn_show;


  .bookbox {width: 100%; height: 390px; position: relative;
  
    .bookcontainer {width: 201.6%; height: 100%; @include flex;

    
      .bestlist {width: 16%; height: 100%;
      
        ol {width: 100%; height: 100%;
          @include flex; flex-wrap: wrap;

          .book {width: 100%; height: 32%; padding: 10px;  @include flex;

            .bookCover {width: 25%; height: 100%; background-color: lightblue; border-radius: 8px;}

            .bookNamebox {width: 60%}
        }

        } 
      } 
    }

    .btn {
      @include btn;
    }
  }

    }

.new {
  width: 100%;
  background-color: $lightblue; @include margin;
  @include btn_show;

  .container {@include flex; flex-wrap: wrap; 
    .title {margin-top: 20px;}

  .bookcontainer {width: 100%; height: 400px; margin: 15px 0 30px 0; @include flex; position: relative; 
  
    .boxL {width: 50%; height: 90%;  @include flex;
    
      .bookbox {width: 100%; height: 100%; @include flex;}
      .bookCover {width: 230px; background-color: gray; height: 100%; border-radius: 8px;}

      .bookintro {width: 50%; height: 80%; @include flex; flex-wrap: wrap;
      
      .bookAuthor {width: 100%; font-weight: $fontW_B;}
      }
    }
    .boxR {width: 40%; height: 60%;
      .bookWrap {
        width: 204%; height: 100%; @include flex;
        .bookbox {
          width: 15%; height: 100%; text-align: center;

          .bookCover {width: 100%; height: 85%; background-color: gray; border-radius: 8px;}

          .bookName { font-weight: $fontW_N; margin-top: 10px}
        }
      }
    }
    .btn {@include btn; position: absolute; width: 100%; height: 100%;}

    
  }


  }
}

.academy {
  @include btn_show; @include margin;
  height: auto; position: relative; 
  .academybook {width: 100%;
 
    .bookbox {width: 202.2%; @include flex; text-align: center; align-items: flex-start;

      .page ul {width: 100%; height: 100%; @include flex;}

      .book {width: 9%; height: 100%; @include flex; flex-wrap: wrap; justify-content: center;
      
        .bookCover {width: 100%; height: 275px; background-color: gray; border-radius: 8px; box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.4); margin-bottom: 15px; position: relative;

          img {border-radius: 8px;}
        
          .light {
            background: rgba(255, 255, 255, 0.4); position: absolute; left: 4px; top: 3px; border-radius: 2px; height: 97.5%; width: 2px;
          }
        }

        .bookName p {font-weight: $fontW_N}

      }
      
    }
    
  }
  .btn {@include btn;}
}

.event {
  height: auto; @include btn_show; @include margin;

  .eventwrap {width: 100%; height: 100px; @include flex;
    .eventB {width: 33%; height: 100%; background-color: lightblue; border-radius: 8px;  background-size: contain; background-repeat: no-repeat; background-position: right; @include flex; padding: 20px; position: relative;
    
      &:nth-of-type(1) {
        background-image: url("../img/main/event1.png"); background-color: $green;
      }
      &:nth-of-type(2) {
        background-image: url("../img/main/event2.png"); background-color: $purple;
      }
      &:nth-of-type(3) {
        background-image: url("../img/main/event3.png"); background-color: $brown;
      }
      .text {width: 100%; color: $white; font-weight: $fontW_B;
        span {font-size: 2rem;}
      }

      &::after {content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #eee; opacity: 0.1;}
    }


    }
  
}

.hit {
  height: 280px; margin-top: 20px;
  @include flex; @include margin;
  .boxL {width: 25%;
  
    h6 {font-weight: normal;}
    span {font-size: $fontS_B; font-weight: $fontW_B;}

    .btn {
      margin-top: 30px; width: 27%; display: flex; position: relative;
      
      .prev {
        @include btnPrev; width: 30px; height: 30px; margin-right: 5px; position: absolute; left: 0;
        i {font-size: $fontS_B;}
      }
      .next {
        @include btnNext; width: 30px; height: 30px; position: absolute;
        i {font-size: $fontS_B;}
      }
      }
  }
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.boxR {
  width: 75%;
  .bookbox {height: 280px;
    @include flex; width: 200%;

    li {width: 280px; height: 100%; background-color: gray; border-radius: 50%; background-size: cover; background-position: center; background-repeat: no-repeat; position: relative;

      .textbox {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); text-align: center; z-index: 5; color: white; opacity: 0; width: 100%;
      
      span {color: $blue;}
      }

      &:hover::after{content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgb(51, 51, 51,0.8); border-radius: 50%;}

      &:hover .textbox {opacity: 1;}
    
    &:nth-of-type(1) {background-image: url(../img/main/hit1.jpg);}
    &:nth-of-type(2) {background-image: url(../img/main/hit2.jpg);}
    &:nth-of-type(3) {background-image: url(../img/main/hit3.jpg);}
    &:nth-of-type(4) {background-image: url(../img/main/hit4.jpg);}
    &:nth-of-type(5) {background-image: url(../img/main/hit5.jpg);}
    &:nth-of-type(6) {background-image: url(../img/main/hit6.jpg);}
    }
  }

}
}




