@charset "UTF-8";
@import "reset","mixin","var";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');



#wrap {width: 100%; display: flex; flex-direction: column; justify-content: space-between;}

.container {width: 1170px; height: 100%; margin: 0 auto;}

img {width: 100%; height: 100%; object-fit: cover;}

// section {margin-bottom: 50px;}

.main {
  height: 600px;  @include margin;
  .container {
    @include flex; flex-wrap: wrap;
    .category {
      @include flex; width: 10%;
      
      .active {background-color: $blue; padding:  5px 10px; border-radius: 20px; 
      
        a {color: white;}
      }
 


      a {
        font-size: $fontS_M;
      }

      li:first-child a {font-weight: $fontW_B;}
    }
    .slideWrap {
      width: 100%;
      height: 430px;
      position: relative;

      .slideContainer {width: 100%; height: 100%; position: relative;
         overflow: hidden;
        }
      .slide {
        display: flex; width: 136%; height: 100%;
        
        li {width: 100%; height: 100%; background: center no-repeat; background-size: cover; position: relative; border-radius: 10px; overflow: hidden; margin: 0 9px 0 0; flex-basis: 50px; flex-grow: 0;
          
         .num 
          {background-color: rgba(66, 66, 66, 0.5); padding: 10px; border-radius: 20px; width: 8%; text-align: center; position: absolute ; bottom: 0; right: 0; margin: 50px; text-wrap: nowrap;
            p{color: lightgray;
              span {color: white; font-weight: $fontW_B;} 

            }

          }
        
          &:nth-of-type(1) {
            flex-grow: 1; }

          //   background-image: url(../img/main/slider1.png); 
            
          //   .text {background-image: linear-gradient(to bottom, rgba(200, 136, 111, 0), rgb(200, 136, 111)), linear-gradient(to bottom, rgba(200, 136, 111, 0), rgb(200, 136, 111)); 
          //   }
          // };
          // &:nth-of-type(2) {
          //   background-image: url(../img/main/slider2.png); 
          //   .text {
          //     background-image: linear-gradient(to bottom, rgba(110, 57, 172, 0), rgba(110, 57, 172, 1)),linear-gradient(to bottom, rgba(110, 57, 172, 0), rgba(110, 57, 172, 1));
          //   }
          // };
          // &:nth-of-type(3) {
          //   background-image: url(../img/main/slider3.png);
          //   .text {
          //     background-image: linear-gradient(to bottom, rgba(238, 78, 131, 0), rgba(238, 78, 131, 1)),linear-gradient(to bottom, rgba(238, 78, 131, 0), rgba(238, 78, 131, 1));
          //   }
          // };
          // &:nth-of-type(4) {
          //   background-image: url(../img/main/slider4.png);
          //   .text {
          //     background-image: linear-gradient(rgba(15, 146, 148, 0), rgb(15, 146, 148)), linear-gradient(rgba(15, 146, 148, 0), rgb(15, 146, 148)); 
          //   }
          // };
          // &:nth-of-type(5) {
          //   background-image: url(../img/main/slider5.png);
          //   .text {
          //     background-image: linear-gradient(rgba(5, 69, 148, 0), rgb(5, 69, 148)), linear-gradient(rgba(5, 69, 148, 0), rgb(5, 69, 148)); 
          //   }
          // };
          // &:nth-of-type(6) {
          //   background-image: url(../img/main/slider6.jpg);
          //   .text {
          //     background-image: linear-gradient(rgba(43, 116, 192, 0), rgb(43, 116, 192)), linear-gradient(rgba(43, 116, 192, 0), rgb(43, 116, 192))
          //   }
          // };
          // &:nth-of-type(7) {
          //   background-image: url(../img/main/slider7.jpg);
          //   .text {
          //     background-image:linear-gradient(rgba(110, 57, 173, 0), rgb(110, 57, 173)), linear-gradient(rgba(110, 57, 173, 0), rgb(110, 57, 173))
          //   }
          // };
          // &:nth-of-type(8) {
          //   background-image: url(../img/main/slider8.jpg);
          //   .text {
          //     background-image: linear-gradient(rgba(31, 116, 181, 0), rgb(31, 116, 181)), linear-gradient(rgba(31, 116, 181, 0), rgb(31, 116, 181))
          //   }
          // };
          // &:nth-of-type(9) {
          //   background-image: url(../img/main/slider9.jpg);
          //   .text {
          //     background-image: linear-gradient(rgba(38, 38, 96, 0), rgb(38, 38, 96)), linear-gradient(rgba(38, 38, 96, 0), rgb(38, 38, 96))
          //   }
          // };
          // &:nth-of-type(10) {
          //   background-image: url(../img/main/slider10.jpg);
          //   .text {
          //     background-image: linear-gradient(rgba(15, 44, 27, 0), rgb(15, 44, 27)), linear-gradient(rgba(15, 44, 27, 0), rgb(15, 44, 27))
          //   }
          // };

          a {display: block; width: 100%; height: 100%;}

          .text {
            text-wrap: nowrap;
            color: $white; position: absolute; bottom: 0; left: 0; padding: 50px; width: 100%; 
            
            
            span {border: 1px solid $white; padding: 3px 5px;}
            h1 {line-height: 130%; margin: 10px 0}
            h4 {font-weight: $fontW_N; opacity: 0.7}

            
          }

        } 
      }



      .btn {
        @include btn;
      }
    }
    .subNav {
      width: 100%; height: 100px;  margin-top: 20px; display: flex; justify-content: center;
      li {
        width: 90px;
        .box {width: 70px; height: 70px; background-color: $lightgray; border-radius: 50%; position: relative;
        
          i {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); font-size: 5rem;}

          p,.adult {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); font-size: 3.8rem; font-weight: bold;}
        
          .adult {border: 2px solid red; border-radius: 50px; width: 30px; height: 30px; line-height: 24px; text-align: center; background-color: white;}
        }
        a {display: flex; flex-wrap: wrap; justify-content: center; align-content: space-between; height: 100%; }
      }
    }
  }
}

.title {margin-bottom: 15px;}

.recommend {
  height: auto; @include margin;
  // @include flex; flex-wrap: wrap; 
  

  .bookbox {width: 100%; @include flex; text-align: center; height: 80%; align-items: flex-start;
    
    .book {width: 17%; height: 100%; @include flex; flex-wrap: wrap; justify-content: center;
    
    .bookCover {width: 100%; height: 285px; background-color: gray; border-radius: 8px; box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.4); margin-bottom: 15px; position: relative;
    
      img {border-radius: 8px;}

      .light {
        background: rgba(255, 255, 255, 0.4); position: absolute; left: 4px; top: 3px; border-radius: 2px; height: 97.5%; width: 2px;
      }
    }
    .bookName {background-color: white;}

    }
  }
}

.mdPick {
  height: auto; @include margin;
  // @include flex; flex-wrap: wrap; 


  .bookbox {width: 100%; height: 230px;
    @include flex; 
  
    .book {width: 32%; height: 100%;

      &:nth-of-type(1) .bg {background-color: #423027;}
      &:nth-of-type(2) .bg {background-color: #02331D;}
      &:nth-of-type(3) .bg {background-color: #27493A;}


      .bookImg {height: 70%; position: relative;

        .bg {height: 60%; width: 100%; position: absolute; bottom: 0; border-radius: 10px;}



        .bookCover {width: 110px; height: 100%; background-color: gray; position: absolute; left: 50%; transform: translateX(-50%); border-radius: 8px;
        
        
        }
      }

      .bookNamebox {
        text-align: center;
      }
    }
  }
  
}

.best {
  height: 440px; @include margin;
  @include btn_show; position: relative;

  .btn {
    @include btn; position: absolute; width: 100%; top: 60%;
  }

  .bookbox {width: 100%; height: 390px; position: relative;
  
    .bookcontainer {width: 201.6%; height: 100%; @include flex;

    
      .bestlist {width: 16%; height: 100%;
      
        ol {width: 100%; height: 100%;
          @include flex; flex-wrap: wrap;

          .book {width: 100%; height: 32%; padding: 10px;  @include flex;

            .bookCover {width: 25%; height: 100%; background-color: lightblue; border-radius: 8px;}

            .bookNamebox {width: 60%}
        }

        } 
      } 
    }

  }


    }


.new {
  width: 100%;
  background-color: $lightblue; @include margin;
  @include btn_show;

  .container {@include flex; flex-wrap: wrap; 
    .title {margin-top: 20px;}

  .bookcontainer {width: 100%; height: 400px; margin: 15px 0 30px 0; @include flex; position: relative; 
  
    .boxL {width: 50%; height: 90%;  @include flex;
    
      .bookbox {width: 100%; height: 100%; @include flex;}
      .bookCover {width: 230px; background-color: gray; height: 100%; border-radius: 8px;}

      .bookintro {width: 50%; height: 80%; @include flex; flex-wrap: wrap;
      
      .bookAuthor {width: 100%; font-weight: $fontW_B;}
      }
    }
    .boxR {width: 40%; height: 60%;
      .bookWrap {
        width: 204%; height: 100%; @include flex;
        .bookbox {
          width: 15%; height: 100%; text-align: center;

          .bookCover {width: 100%; height: 85%; background-color: gray; border-radius: 8px;}

          .bookName { font-weight: $fontW_N; margin-top: 10px}
        }
      }
    }
    .btn {@include btn; position: absolute; width: 100%; height: 100%;}

    
  }


  }
}


.new {
  width: 100%;
  background-color: $lightblue; @include margin;
  @include btn_show;

  .container {@include flex; flex-wrap: wrap; 
    .title {margin-top: 20px;}

  .bookcontainer {width: 100%; height: 400px; margin: 15px 0 30px 0; @include flex; position: relative; 
  .boxWrap {width: 50%; height: 90%; overflow: hidden;}

    .boxL {width: 100%; height: 100%;  @include flex; position: relative;
    
      .bookbox {margin-right: 20px; width: 100%; height: 100%; @include flex; position: absolute; top: 0; left: 0;}
      .bookCover {width: 230px; background-color: gray; height: 100%; border-radius: 8px;}

      .bookintro {width: 50%; height: 80%; @include flex; flex-wrap: wrap;
      
      .bookAuthor {width: 100%; font-weight: $fontW_B;}
      }
    }
    .boxR {width: 40%; height: auto; 
      .bookWrap {
        width: 204%; height: 100%; @include flex; align-items: flex-start; margin-left: -159px;

        .swiper {
          width: 100%;
          height: 100%;
        }
      
        .swiper-slide {
          text-align: center;
          font-size: 18px;
          // background: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          
        }
      
        .swiper-slide img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .bookbox {
          width: 15%; height: 100%; text-align: center; display: flex; flex-wrap: wrap;

          .bookCover {width: 100%; height: 85%; background-color: gray; border-radius: 8px;}

          .bookName { font-weight: $fontW_N; margin-top: 10px}
        }
      }
    }
    .btn {@include btn; position: absolute; width: 100%; height: 100%;}

    
  }


  }
}

.academy {
  @include btn_show; @include swiper; @include margin;
  height: auto; position: relative; 



  .academybook {width: 100%;
 
    .bookbox {width: 202.2%; @include flex; text-align: center; align-items: flex-start;

      .page ul {width: 100%; height: 100%; @include flex;}

      .book {width: 9%; height: 100%; @include flex; flex-wrap: wrap; justify-content: center;
      
        .bookCover {width: 100%; height: 275px; background-color: gray; border-radius: 8px; box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.4); margin-bottom: 15px; position: relative;

          img {border-radius: 8px;}
        
          .light {
            background: rgba(255, 255, 255, 0.4); position: absolute; left: 4px; top: 3px; border-radius: 2px; height: 97.5%; width: 2px;
          }
        }

        .bookName p {font-weight: $fontW_N}

      }
      
    }
    
  }
  .btn {@include btn;}
}

.event {
  height: auto; @include btn_show; @include margin;

  .eventwrap {width: 100%; height: 100px; @include flex;
    .eventB {width: 33%; height: 100%; background-color: lightblue; border-radius: 8px;  background-size: contain; background-repeat: no-repeat; background-position: right; @include flex; padding: 20px; position: relative;
    
      &:nth-of-type(1) {
        background-image: url("../img/main/event1.png"); background-color: $green;
      }
      &:nth-of-type(2) {
        background-image: url("../img/main/event2.png"); background-color: $purple;
      }
      &:nth-of-type(3) {
        background-image: url("../img/main/event3.png"); background-color: $brown;
      }
      .text {width: 100%; color: $white; font-weight: $fontW_B;
        span {font-size: 2rem;}
      }

      &::after {content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #eee; opacity: 0.1;}
    }


    }
  
}

.hit {
  height: 280px; margin-top: 20px;
  @include flex; @include margin; @include swiper;

  .boxL {width: 25%;
  
    h6 {font-weight: normal;}
    span {font-size: $fontS_B; font-weight: $fontW_B;}

    .btn {
      margin-top: 30px; width: 27%; display: flex; position: relative;
      
      .prev {
        @include btnPrev; width: 30px; height: 30px; margin-right: 5px; position: absolute; left: 0;
        i {font-size: $fontS_B;}
      }
      .next {
        @include btnNext; width: 30px; height: 30px; position: absolute;
        i {font-size: $fontS_B;}
      }
      }
  }
  

.boxR {
  width: 75%;
  .bookbox {height: 280px;
    @include flex; width: 200%;

    li {width: 280px; height: 100%; background-color: gray; border-radius: 50%; background-size: cover; background-position: center; background-repeat: no-repeat; position: relative;

      .textbox {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); text-align: center; z-index: 5; color: white; opacity: 0; width: 100%;
      
      span {color: $blue;}
      }

      &:hover::after{content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgb(51, 51, 51,0.8); border-radius: 50%;}

      &:hover .textbox {opacity: 1;}
    
    &:nth-of-type(1) {background-image: url(../img/main/hit1.jpg);}
    &:nth-of-type(2) {background-image: url(../img/main/hit2.jpg);}
    &:nth-of-type(3) {background-image: url(../img/main/hit3.jpg);}
    &:nth-of-type(4) {background-image: url(../img/main/hit4.jpg);}
    &:nth-of-type(5) {background-image: url(../img/main/hit5.jpg);}
    &:nth-of-type(6) {background-image: url(../img/main/hit6.jpg);}
    }
  }

}
}




