@charset "UTF-8";
@import "reset", "mixin", "var";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

.container {
  width: 1170px;
  height: 100%;
  margin: 0 auto;
}

th,
td {
  font-size: $fontS_S;
}

// 헤더
header {
  height: auto;
  margin-bottom: 0;

  .headerBottom .container {
    border: none;
    height: auto;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
  color: #666;
}

.subcontainer {
  width: 1170px;
  height: 100%;
  margin: 0 auto;
  display: flex;

}

// 콘텐츠
#contents {
  width: 930px;
  height: auto;
  border-right: 1px solid #eee;
  padding: 0 30px 0 0;


  // 책 소개 첫 화면
  .intro {
    height: 620px;
    @include flex;
    flex-wrap: wrap;
    margin-bottom: 40px;

    #bookCover {
      width: 40%;
      height: 440px;
      perspective: 1000px;
      transform-style: preserve-3d;
      cursor: pointer;

      .turn_img {
        width: 80%;
        height: 90%;
        position: relative;
        transition: 0.5s;
        transform-style: preserve-3d;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, .2);
        margin: 20px 0 0 30px;
        cursor: url(../img/sub/ico_flip.svg), pointer !important;

        &:hover {
          transform: rotateY(35deg);
        }

        &.rotate {
          transform: rotateY(180deg);
        }

        img {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
        }

        &::before {
          content: "";
          width: 30px;
          height: 100%;
          position: absolute;
          background-image: url(../img/sub/cover_s_fix.jpg);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          transform-origin: left;
          transform: rotateY(90deg);
          left: 1px;
        }

        &::after {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          background-size: cover;
          background-position: center;
          transform-origin: center;
          transform: rotateY(180deg) translateZ(30px);
          background-image: url(../img/sub/cover_b.jpg);
          width: 100%;
          height: 100%;
          left: 2px;
        }
      }
    }

    #bookOrder {
      width: 55%;
      height: 440px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h6 {
        font-weight: normal;
      }

      .title {
        color: #333;
      }


      .review {
        display: flex;
        align-items: center;

        .starbox {
          background-image: url(../img/sub/star_bg.svg);
          width: 70px;
          height: 14px;
          display: inline-block;
          background-repeat: no-repeat;
          margin-right: 5px;
          position: relative;

          .star {
            width: 88%;
            height: 100%;
            position: relative;
            display: block;
            overflow-x: hidden;

            &::after {
              background-image: url(../img/sub/star.svg);
              position: absolute;
              top: 0;
              left: 0;
              background-repeat: no-repeat;
              width: 70px;
              height: 14px;
              background-size: 100% 100%;
              content: "";
              display: block;
            }
          }


        }

        p {
          display: inline;
        }

        p>span {
          color: #FA722E;
          font-weight: bold;
        }
      }

      h6>a:hover {
        color: $blue ;
      }

      p>a {
        font-size: 3rem;

        &:hover {
          color: $blue;
        }
      }

      p {
        font-size: 3rem;
      }

      .select {
        font-size: 3rem;
        font-weight: bold;
        padding: 7px 7px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        border: {
          top: 1px solid #eee;
          bottom: 1px solid #eee;
        }

        &:hover p {
          color: $blue;
        }

        span {
          background-color: #22b8cf;
          color: white;
          padding: 0 2px;
          border-radius: 2px;
          font-size: 2rem;
        }
      }

      .gray {
        color: #ddd;
        cursor: pointer;
      }

      table {
        width: 100%;
        border-collapse: collapse;
        color: #666;

        border : {
          top: 1px solid #eee;
          bottom: 1px solid #eee;
        }
      }

      tr {
        width: 100%;
      }

      th {
        width: 35%;
        border-right: 1px solid #eee;
        background-color: #f7fafc;
        padding: 5px 7px;
      }

      .priceT {
        width: 30%;
        padding: 5px 7px;
      }



      .price {
        text-align: right;
        width: 40%;
        padding: 5px 7px;
        font-weight: bold;

        span {
          position: relative;
        }
      }

      .blue {
        color: $blue;
      }

      .price span::after {
        content: "          ";
        background-image: url(../img/sub/arrow.svg);
        background-position: right;
        width: 30px;
        height: 63%;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -40%);
        background-repeat: no-repeat;
      }

      .btn {
        float: right;
        width: 100%;
        text-align: right;
      }

      .btn button {
        cursor: pointer;
        width: 35px;
        height: 35px;
        margin-left: 5px;
        background-color: white;
        border-radius: 5px;
        border: 1px solid #ccc;
        color: #777;
        transition: 0.3s;

        &:hover {
          background-color: #eee;
          ;
        }

        &:last-of-type {
          font-size: 2.7rem;
          font-weight: bold;
          width: 80px;
          background-color: $blue;
          color: white;

          &:hover {
            background-color: #008bf5;
          }
        }


      }

    }


    #bookInfo {
      width: 100%;
      height: 150px;
      border: 5px solid #eee;
      @include flex;
      align-items: flex-start;
      padding: 20px;
      text-align: left;



      th {
        color: #333;
      }

      td {
        color: #666;
      }

      .boxL {
        width: 50%;
        height: 100%;

      }

      .boxR {
        width: 50%;
        height: 50%;




        svg:nth-of-type(1) {
          transform: translateY(2px);
          width: 15px;
          height: 13px;
        }

        .fa-apple {
          font-size: 3.3rem;
        }

        svg:nth-of-type(2) {
          transform: translateY(3px);
          width: 15px;
          height: 14px;
        }

        svg:nth-of-type(3) {
          transform: translateY(3px);
          width: 15px;
          height: 14px;
        }

      }
    }
  }


  h4 {
    border-bottom: 2px solid gray;
    padding: 10px 0 10px 0;
    clear: both;
  }




}



.bookText {
  h4 {
    border-bottom: 2px solid gray;
    padding: 0 0 10px 0;
  }

  h3 {
    font-weight: $fontW_N;
  }

  .text {
    position: relative;
    padding-bottom: 30px;

    p {
      margin: 10px 0;
      overflow: hidden;
    }

    .folded {
      height: 144px;
    }

    button {
      float: right;
      font-size: $fontS_B;
      background: none;
      border: none;
      color: $blue;
      display: flex;
      align-items: flex-end;
      cursor: pointer;

      &.close {
        display: none;
      }

      span {
        display: inline-block;
        background-color: $blue;
        color: white;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
          font-size: 10px;
        }
      }
    }
  }



}


// 저자 프로필
.profile {
  h4:nth-of-type(2) {
    border: none !important; 
    color: black;
    margin: 20px 0 10px 0;
  }


  .alarm {
    background: none;
    border: 1px solid $blue;
    width: 180px;
    height: 30px;
    color: $blue;
    border-radius: 5px;
    font-weight: $fontW_B;
    box-shadow: 0 1px 1px 0 rgba(31, 140, 230, .3);
    cursor: pointer;

    &:hover {
      background-color: $lightblueT;
      transition: 0.3s;
    }

    span.dot {
      font-size: 15px;
      vertical-align: 15%;
    }
  }

  .profileupdate {
    text-align: right;
    margin: 50px 0 30px 0;


    .update {
      font-size: 3rem;
      color: #999;
      margin-right: 10px;
    }

    .fix {
      width: 150px;
      font-size: 3rem;
      background: none;
      border: 1px solid #ccc;
      height: 20px;
      border-radius: 5px;
      color: #808991;
      font-weight: $fontW_B;
      box-shadow: 0 1px 1px 0 rgba(209, 213, 217, .3);
      cursor: pointer;

      &:hover {
        background-color: #eee;
        transition: 0.3s;
      }
    }
  }

  // 대표저서
  .authorbook {
    border-top: 1px solid #eee;

    h5 {
      font-size: 3.8rem;
      color: black;
      display: inline-block;
      margin: 20px 0;
    }

    ul.sort {
      display: flex;
      float: right;
      margin: 20px 0;

      a {
        font-size: 3rem;
      }

      .active {
        color: black;
        font-weight: bold;
        font-size: 3rem;
      }

      li {
        cursor: pointer;
        font-size: 3rem;
        
        &::before {
          content: "|";
          font-size: 3rem;
          padding: 5px;
        }

        &:first-child::before {
          content: "";
        }

        
      }
    }


    ul.bookbox {
      display: flex;
      flex-wrap: wrap;
      align-content: space-evenly;
      justify-content: space-evenly;

      li {
        width: 15%;
        margin: 0 20px;
        position: relative;


        h3 {
          font-size: 3.8rem;
        }

        img {
          width: 100%;
          height: 100%;
        }

        a {width: 100%; height: 100%; position: absolute; top: 0; left: 0;} 
      }
    }

    .all {
      width: 130px;
      font-size: 3.2rem;
      background: none;
      border: 1px solid #ccc;
      height: 40px;
      border-radius: 5px;
      color: #808991;
      font-weight: $fontW_B;
      box-shadow: 0 1px 1px 0 rgba(209, 213, 217, .3);
      cursor: pointer;
      float: right;

      &:hover {
        background-color: #eee;
        transition: 0.3s;
      }
    }
  }
}

.review {
  .reviewbox{ 
    width: 100%;  display: flex;
    margin-bottom: 20px;

    .buyergrade {width: 20%; height: 290px;  display: flex; flex-direction: column; align-items: center; justify-content: center;
    
      h2 {font-size: 7rem;}
      p {font-size: 3rem; color: #94a2b8; margin-top: 5px;}
      .star {background-image: url(../img/sub/star_bg.svg); width: 80px; background-repeat: no-repeat;
      
        span {
          width: 88%; overflow: hidden; height: 100%; display: block;
          img {width: 80px;}
        }
      }

      .graph {
        margin-top: 15px; border-bottom: 1px solid #ddd; padding-bottom: 10px;
        li {display: flex; justify-content: space-between; align-items: center;
        
          &:nth-of-type(1) .block:after {
            width: 64%; 
          }
          &:nth-of-type(2) .block:after {
            width: 27%; 
          }
          &:nth-of-type(3) .block:after {
            width: 0%; 
          }
          &:nth-of-type(4) .block:after {
            width: 9%; 
          }
          &:nth-of-type(5) .block:after {
            width: 0%; 
          }
        }

        li i {font-size: 2.5rem; color: #808991; margin-right: 3px;}
        
        li span {font-size: 3rem; color: #808991;
        
          
        }
        .block {margin-left: 10px; width: 80px; background-color: #e8edf3; height: 8px; display: block; box-shadow: inset 0 1px 1px 0 rgba(0,0,0,.1); position: relative;
        
          &::after {content: ""; background:linear-gradient(to bottom,#9daab5,#718392);height: 100%; position: absolute; top: 0; left: 0;}
        }
      }

    
    
    
    
    } 
    .reviewwrite {
      width: 80%; height: 100%;  text-align: center; position: relative;

      .userReview {position: relative;}
    
      h4 {border: none !important; color: #999; margin-top: 20px;}

      .starRatebox {position: absolute; top: 10% ; left: 50%; transform: translateX(-50%); font-size: 4.5rem; background-color: #008bf5; width: 150px; height: 35px; line-height: 35px; border-radius: 5px;
        display: none;
      
        p {color: white; position: absolute;  left: 50%; transform: translateX(-50%); font-weight: bold; display: none;
        
          span {position: absolute; bottom: -19px; left: 50%; transform: translateX(-50%); color: #008bf5; font-size: 5rem; }
        }
      }

      .starRate {width: 100%; margin-bottom: 20px; display: flex; justify-content: center; flex-direction: row-reverse;

        .emptybox {width: 50%;}
      
        label {font-size: 35px; color: transparent; text-shadow: 0 0 0 #f0f0f0; cursor: pointer;
        
          &:hover {
            text-shadow: 0 0 0 #FA722E;
          }
          &:hover ~ label {
            text-shadow: 0 0 0 #FA722E;
          }
        }


        input[type=radio]{
          display: none;

          &:checked ~ label {
            text-shadow: 0 0 0 #FA722E;
          }
        }
      
      
      
      
      
      
      }

            .textarea {
      
              textarea {
                width: 100%;
                height: 100px;
                border: 1px solid #ddd;
                box-shadow: 0 1px 1px 0 rgba(209,213,217,.3);
                padding: 10px; font-weight: bold;
              }
      
              .btn {
                margin: 10px 0; @include flex;

                button:first-child {float: left; background: none; width: 150px; height: 30px; border: 1px solid #ddd; border-radius: 5px; box-shadow: 0 1px 1px 0 rgba(209,213,217,.3); cursor: pointer; color: #666; font-size: 3rem;}

                .spoilerWrap {
                  
                  width: 64%; text-align: right;

                  input[type=checkbox] {width: 17px; height: 17px; vertical-align: sub; margin-right: 5px; border: 1px solid #eee; cursor: pointer; }
                  label {font-size: $fontS_B; margin-right: 10px; line-height: 17px; cursor: pointer; }

                }
                
                button:last-child {
                  width: 100px; height: 30px; background-color:#ccc;
                  border: none; border-radius: 5px; color: white; font-weight: bold;
                  cursor: pointer;
                }
              }
      
            }

      .reviewalert { display: none;
        text-align: left; background-color: #f2f4f5; padding: 20px;

        p {font-size: 3rem;
          b {color: #333;}
        }
        ol { width: 100%; 
          li {font-size: 3rem ;margin-left: 15px; list-style:decimal}
        }

      }
    }
  }





  .reviewlist { 
    
    @include flex; flex-wrap: wrap; margin-bottom: 50px;

    .tab_review {display: flex;
    
      li {font-size: $fontS_M; margin-right: 15px; font-weight: bold; color: #999; line-height: 30px;
      
        &.active {color: #333; border-bottom: 3px solid black; }
      }
    } 

    .starsort {display: flex; 
      li {
        a:after {
          content: "|"; margin: 5px; font-size: 3rem; color: #ccc; line-height: 3.5rem;
        }

        &.active a {color: #333; font-weight: bold; }
      }
      li:last-child a:after {content: "";}
    }

    .reviewlist_li {width: 100%; font-weight: bold; text-align: center;;
      border-bottom: 1px solid #eee; border-top: 1px solid #eee; padding: 50px; 
    }

    button {cursor: pointer ;background:none; border: none; font-size: $fontS_B; color: gray; font-weight: normal; margin: 20px 0 ;}

    .buyerinfo {width: 100%; background-color: #f3f4f5; padding: 30px 20px ;  display: none;
      p:first-of-type {color: black; ;}
    }
  }
}



// 이 책과 함께 구매한 책, 이 책과 함께 둘러본 책
.recommend {

  ul {
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: space-evenly;
    height: 600px;

    li {
      width: 15%;
      margin: 0 20px;
      position: relative;

      h3 {
        font-size: 3.8rem;
      }

      img {
        width: 100%;
        height: 100%;
      }

      a {width: 100%; height: 100%; display: block; position: absolute; top: 0; left: 0;}
    }
  }

}



// 오른쪽 창
aside {
  width: calc(100% - 930px);
  background-color: pink;
  height: 100px;

  img {
    width: 100%;
  }

  .best {
    padding: 30px;

    h3 {
      margin-bottom: 20px;

    }

    ol {
      counter-reset: ranking 0;
      display: flex;
      flex-direction: column;

      li {
        padding: 4px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px;

        a {
          line-height: 18px;
          white-space: nowrap;



          span {
            color: #787878;
            font-size: 14px;
            line-height: 17px;
            height: 17px;
            letter-spacing: -0.01em;
            flex: 1 1 auto;

          }
        }

        a:before {
          counter-increment: ranking;
          content: counter(ranking)"  ";
          min-width: 29px;
          color: #DC3232;
          font-weight: 700;
          font-style: italic;
          line-height: 18px;
          letter-spacing: -0.01em;
          margin-right: 15px;
        }

        &:last-child a:before {
          margin-right: 7px;
        }

      }
    }
  }
}
